<!-- This is the first html -->
<html>
    <head>
        <style type="text/css">
            p{text-align: center;}
        </style>
    </head>
    <body>
        <h1 style="text-align: center">欢迎使用评分系统</h1>
        <form action="marking.html" method="POST">
            <p>请留下大名：
             <select name="whoami">
                  <% users.forEach(function(user,i){ %>
                    <option value="<%= usersen[i] %>"><%= user %></option>
                    <% }) %>
             </select>
             <br>
             <br>
             <input type="submit" value="进入系统">
           </p>
        </form>
    </body>
</html>