<!-- This is the first html -->
<html>
    <head>
        <!--
        <style type="text/css">
        h1{color:red}
        p{color:blue}
        </style>
        -->
        <!--
        <link rel="stylesheet" type="text/css" href="mystyle.css">
        -->
    </head>
    <body background="1.png">
        <a href="/index2.html" name="wdj">第二个页面</a>
        <a href="#pre">跳转到Pre</a>
        <a href="/input.html">输入页面</a>
        <h1 style="text-align: center">My First Heading</h1>
        <!-- 这是一个水平线 -->
        <hr/>
        <p align="center" style="font-family: verdana;color:red">My First paragraph</p>
        <!-- 这是一个空行 -->
        <br/>
        <hr/>
        <pre>
             <a name="pre"></a>
            fdsa fdsafdsaf
            fdsafdsaf       jfkldssajf
        </pre>
        <hr/>
        <address>
            Written by <a href="fdasfdsafdasfdas">Donald Duck</a>.<br>
            fdsafdsafdsafd:<br>
            fdsafdasf<br>
            fdsafdasfdsa<br>
            China
        </address>
        <hr/>
        <abbr title"wangdongjie">wdj.</abbr>
        <acronym title="wangdongjie">wdj</acronym>
        <hr/>
        <bdo dir="rtl">wangdongjie</bdo>
        <hr/>
        <p>fdsafdsa <del>fdasf</del> <ins>fdsafdsafdsa</ins></p>
        <hr/>
        <p>WWF 的目标是：<q>构建人与自然和谐共存的世界</q></p>
        <p align="center" style="font-family: times;color:green;font-size: 30px">My First paragraph</p>
        <a href="http://e.seewo.com">This is a link</a>
        <img src="1.png" width="104" height="142" alt="this is a picture"/>
        <img src="2.png" width="104" height="142" alt="this is a picture"/>
        <p>
            <a href="index2.html">
            <img src="1.gif" width="200" height="200" alt="this is a gif"/>
            </a>
        </p>
        <hr/>
        <table border="1">
            <caption>这是一个标题</caption>
            <tr>
                <td>100</td>
                <td>100</td>
                <td>100</td>
                <td>100</td>
           </tr>
        </table>
        <table border="1" width="400">
            <th>th1</th>
            <th>th2</th>
            <th>th3</th>
            <tr>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>3</td>
            </tr>
        </table>
            <table border="1" cellpadding="10" cellspacing="10" style="background-color: aqua">
            <th>th2</th>
            <th>th3</th>
            <tr>
                <th rowspan="2">th1</th>
                <td>2</td>
                <td>2</td>
                <td>2</td>
                <td>2</td>
            </tr>
            <tr>
                <th>th3</th>
                <td>3</td>
                <td>3</td>
            </tr>
        </table>
        <hr/>
        <ul>
            <li>fdsa</li>
            <li>fdsa</li>
            <li>fdsa</li>
        </ul>
        <ul type="circle">
            <li>fdsa</li>
            <li>fdsa</li>
            <li>fdsa</li>
        </ul>
        <ol start="4">
           <li>fdsa</li>
           <li>fdsa</li>
           <li>fdsa</li>
       </ol>
       <ol type="A" start="56">
           <li>fdsa</li>
           <li>fdsa</li>
           <li>fdsa</li>
       </ol>
    </body>
</html>