<!-- This is the first html -->
<html>
    <head>
        <style type="text/css">
            span{width: 70;
            display:inline-block;}
            input{width: 100}
            input[type="submit"]{
                width: 180
            }
        </style>
    </head>
    <body>
        <h1 style="text-align: center">评分系统</h1>
        <form action="statistics.html" method="POST">
            <p>
                <span>陈博</span>
                <input name="chenbo" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p> 
                <span>陈民敬</span>  
                <input name="chenminjing" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>陈天龙</span>
                <input name="chentianlong" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>程遥</span> 
                <input name="chengyao" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>邓启亮</span>  
                <input name="dengqiliang" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>付金祥</span> 
                <input name="fujinxiang" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>古意昌</span>
                <input name="guyichang" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>李幸斌</span> 
                <input name="lixingbin" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>吕毅</span>  
                <input name="lvyi" name="chenbo" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>王东杰</span>  
                <input name="wangdongjie" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>许威</span>
                <input name="xuwei" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>叶洪</span>
                <input name="yehong" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>张强</span>  
                <input name="zhangqiang" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <p>
                <span>朱龙飞</span>  
                <input name="zhulongfei" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </p>
            <input type="submit" value="提交">
        </form>
    </body>
</html>