<html>
<head>
    <style>
        h1 {
            text-align: center
        }

        p {
            text-align: center
        }
        a{
            text-align: center
        }
    </style>
</head>

<body>
    <form action="sethaha.html" method="POST">
            <p>是否公布结果：
             <select name="isneedshowresult">
                 <option value="false">否</option>
                 <option value="true">是</option>
             </select>
             <br>
             <br>
             <input type="submit" value="确定">
           </p>
        </form>
</body>

</html>